
.nav-menu a {
    color: #333;
    text-decoration: none;
    border-radius: 10px;
    padding: 13px 15px;
    position: relative;
    z-index: 2;
    transition: color 0.3s ease;
}

.nav-menu {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.nav-highlighter {
    position: absolute;
    height: 85%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: rgb(61, 121, 176);
    border-radius: 8px;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 0;
    pointer-events: none;
    z-index: 0;
}

.nav-menu a.active-text {
    color: #fff !important;
}

.nav-menu a:hover {
    color: #fff;
}
